.main_sec{
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background-color: transparent;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
  }
  
  .navbar-nav {
    margin-left: 40px;
  }
  
  .colorrrr {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
  }
  
  .background__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 100%;
    height: 140%; */
    z-index: 0;
    object-fit:contain;
    
  }
  
  .content__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 80px;
    z-index: 10;
  }
  
  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  .item h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: 'Inter';
    font-style: normal;
  }
  
  .item p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
  }
  
  .btn__wrapper {
    display: flex;
    align-items: center;
  }
  
  .btn__wrapper button {
    margin-right: 10px;
  }
  
  .btn1 {
    justify-content: center;
    align-items: center;
    padding: 0px;
  
    width: 100px;
    height: 46px;
    border: none;
    color: #ffff;
    font-size: 12px;
  
    background: #7c3aed;
    border-radius: 8px;
  }
  
  .btn__wrapper img {
    width: 115px;
    margin: 2px 0px 0px -15px;
  }
  .btn2 {
    width: 100px;
    height: 46px;
    border-radius: 8px;
    border: none;
    /* margin-left: 40px; */
  }
  .img__wrapper {
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img__wrapper img {
    width: 80%;
    height: 100%;
    position: absolute;
    object-fit: contain;
  }
  
  @media only screen and (max-width: 500px) {
    .img__wrapper {
      height: 600px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .content__wrapper {
      padding: 40px;
    }
  }
  
  /* second container css */
  
  .second_sec{
    background-color: #ffff;
  }
  .row_wrapper {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* z-index: 10; */
  }
  .img_border {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    width: 95%;
  }
  
  @media only screen and (max-width: 500px) {
    .div-image {
      padding: 10px;
      margin: 5px 10px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .div-image {
      padding: 10px;
      margin: 0px 5px;
    }
  }
  
  /* third container css */
  .third_container {
    /* margin-top: 50px; */
    padding-top: 30px;
    background-color: #ffff;
  }
  
  .header-part {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header-part h3 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 5px;
  }
  .header-part p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;
    text-align: center;
  }
  
  .third-section {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .small-image {
    margin: 10px;
  }
  
  /* fourth container css */
.main__contrainer {
    padding: 60px 20px;
    background-color: #d5fafc;
  }
  
  .row__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main__col1 {
    flex-basis: 100%;
    padding: 40px 0;
  }
  .quote-img{
    width: 18%;
    
  }
  
  .main__col2 {
    flex-basis: 100%;
    padding: 40px 0;
  }
  
  .col__wrapper {
    position: relative;
    margin-bottom: 40px;
    margin-left: 64px;
    margin-top: -46px;
  }
  
  .col__wrapper h2 {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  
  .col__wrapper p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  .card__container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  .col__card,
  .col__card2,
  .col__card3 {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  
  .col__card2,
  .col__card3 {
    margin: 0;
    margin-top: 10px;
  }
  
  .col__card3 {
    width: 300px;
    margin-top: 20px;
  }
  
  .col__card p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card2 p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card3 p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card2 h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card3 h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card2 h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__card3 h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  
  .col__img {
    position: relative;
    height: 15px;
    width: 20px;
    margin-top: 10px;
  }
  
  .col__img img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (min-width: 889px) {
    .row__container {
      flex-direction: row;
    }
  }
  
  @media only screen and (max-width: 889px) {
    .card__container {
      justify-content: center;
      align-items: center;
    }
  
    .main__col1 {
      padding: 10px 0;
    }
  
    .main__col2 {
      padding: 10px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .col__card,
    .col__card2,
    .col__card3 {
      width: 100%;
      margin: 0 5px;
    }
  
    .col__card3 {
      margin-top: 20px;
    }
  
    .col__wrapper h2 {
      font-size: 32px;
    }
  
    .col__wrapper p {
      font-size: 18px;
    }
  }
  
  
  /* fifth container */
  .my-row {
    width: 50%;
  }
  .box4 {
    margin-left: auto;
    padding-left: 25px;
  }
  .box-image {
    width: 30px;
    height: 25px;
    margin: 10px 10px;
  }
  .header5 {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .header5 h2 {
    font-family: 'Inter';
    font-style: normal;
    width: 70%;
    font-size: 38px;
    font-weight: 500;
  }
  .header5 p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-left: -90px;
  }
  
  .header6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
  }
  
  .header6 h2 {
    font-family: 'Inter';
    font-style: normal; 
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    width: 70%;
    /* text-align: center; */
  }
  .header6 p {
    font-family: 'Inter';
    font-style: normal;
    width: 75%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-left: 30px;
  }
  .semi-image {
    margin-left: -75px;
  }
  
  @media only screen and (max-width: 889px) {
    .my-row {
      justify-content: center;
      align-items: center;
    }
  
    .box1 {
      padding: 10px 0;
    }
  
    .my-box {
      padding: 10px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .my-row {
      width: 10%;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
    }
    .box1 {
      margin-left: 16px;
    }
    .box3 {
      margin-left: -25px;
      /* margin-bottom:150px; */
    }
    .box4 {
      margin-left: -35px;
    }

    .my-box {
      width: 100%;
      /* margin: 0 5px; */
      margin-left: 1px;
    }
    .header5 p{
        text-align: inherit;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
    }
  
   
    .header6 h2 {
      font-size: 32px;
      width: 100%;
      margin-left: 20px;
    }
  
    .header6 p {
      font-size: 18px;
      width: 100%;
      margin-top: 10px;
    }
    .semi-image{
        width: 148%;
        padding: 20px;
        margin-top: 20px;
    }
  }
  
  
  /* sixth container css */
  .seventh-section {
    display: flex;
    background-color: #1db5be;
    margin-top: 9rem;
  }
  
  .header1 {
    width: 75%;
    margin: 5rem 5rem;
  }
  
  .header1 h5 {
    font-family: 'Inter';
    font-style: normal;
    margin-top: 40px;
  }

  
  /* footer css */
  .footer {
    background-color: #000000;
    padding: 3rem;
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
  }
  
  @media only screen and (min-width: 700px) {
    .phone-image1 {
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .phone-image2 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  